/* general styling */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    filter: grayscale();
}

a {
    text-decoration: none;
}

/* Header component */
header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

header a {
    padding: 0 0.5em;
}

/* main section */
section {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

section h1 {
    font-size: 1.2em;
    margin-top: 1em;
}


/* Media at bottom, responsivnes of the web application*/

/* h1 */
@media only screen and (max-width: 600px) {
    section h1 {
        font-size: 1.1em;
    }

    section h2 {
        font-size: 1em;
    }

    section img {
        width: auto;
        height: 20vh;
    }
}