/* General styling */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  background-color: #f9fafb;
  color: #1f2937;
}

section {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

section ul {
  list-style: none;
  padding-left: 0.5em;
}

/* Loader animation */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header component */
header {
  background: linear-gradient(
    112.1deg,
    rgb(4, 4, 5) 11.4%,
    rgb(41, 46, 61) 70.2%
  );
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 0.2rem;
}

header a {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-inline: 0.4rem;
  color: white;
  text-decoration: none;
}

/* Main section */
.wrapper-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1rem;
  margin-bottom: 3rem;
}

.wrapper-introduction img {
  filter: grayscale();
  padding-block: 1rem;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.wrapper-introduction h1 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #111827;
}

.wrapper-introduction h2 {
  font-size: 1.5rem;
  color: #4b5563;
}

/* Education */
.edu-title {
  margin-top: 2rem;
  font-weight: 900;
  text-align: center;
}

.wrapper-education {
  width: 90%;
  border-radius: 2rem;
  margin: 0.6rem 1rem;
  background: white;
  padding: 0.6rem;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
}

.wrapper-education div {
  border-bottom: 0.1rem solid;
  width: 100%;
}

.wrapper-education div:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.wrapper-education h3 {
  font-weight: 500;
  color: #111827;
  margin-bottom: 0.5rem;
}

.wrapper-education p {
  padding-block: 0 0.2rem;
}

.wrapper-education a {
  text-decoration: none;
  font-size: medium;
  font-weight: 700;
}

/* Projects */
.projectsTitle {
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: large;
  text-align: center;
  font-weight: 900;
  color: #4b5563;
}

#project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 0 2rem;
}

#project-container div {
  margin-top: 1rem;
  width: 90%;
  border-radius: 2rem;
  background: white;
  padding: 0.6rem;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-projects img {
  height: auto;
  width: 90%;
  max-width: 896px;
  object-fit: contain;
}

.wrapper-projects h2 {
  font-weight: 700;
  color: #111827;
  margin-bottom: 0.5rem;
}

.wrapper-projects p {
  padding-block: 0 0.4rem;
}

.wrapper-projects a {
  text-decoration: none;
  font-size: medium;
  font-weight: 700;
}

.unfinished {
  filter: grayscale(100%);
  opacity: 0.6;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.unfinished:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.finished {
  filter: none;
  opacity: 1;
}

/* Footer section */
footer,
.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em auto;
}

.footer-nav {
  gap: 1em;
}

.footer-nav a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

small {
  font-size: small;
  display: flex;
  justify-content: center;
}

/* Media queries for tablets and desktops */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: flex-end;
  }

  header a {
    padding-inline: 0.5rem;
  }

  .wrapper-introduction article:first-child {
    display: flex;
    flex-direction: row;
  }

  .wrapper-introduction img {
    width: 20rem;
    height: auto;
    object-fit: contain;
  }

  .introduction-title {
    margin-top: 12rem;
    gap: 1rem;
  }

  .wrapper-education,
  #project-container div {
    width: 95vw;
    height: auto;
  }

  .wrapper-education {
    display: flex;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 769px) {
  header a {
    padding-inline: 0.5rem;
  }

  .wrapper-introduction {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .wrapper-introduction img {
    width: 20rem;
    height: auto;
  }

  .introduction-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
  }

  .introduction-title h1,
  .introduction-title h2 {
    font-size: 1.5rem;
  }

  .edu-title,
  .projectsTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .wrapper-education {
    display: flex;
    margin: auto;
  }

  #project-container {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}
