/* General styling */
*,
::after,
::before {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

section ul {
  list-style: none;
  padding-left: 0.5em;
}

/* Header component */
header {
  background: linear-gradient(
    112.1deg,
    rgb(4, 4, 5) 11.4%,
    rgb(41, 46, 61) 70.2%
  );
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 0.2rem;
}

header a {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-inline: 0.4rem;
  color: white;
  text-decoration: none;
}

/* Main section */
.wrapper-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1rem;
  margin-bottom: 3rem;
}

.wrapper-introduction img {
  filter: grayscale();
  padding-block: 1rem;
  width: 100%;
  height: auto;
}

.wrapper-introduction h1 {
  font-size: xx-large;
  font-weight: 900;
  text-shadow: 0 0 1rem #0c090f59, 0 0 1rem #1c172059;
}

.wrapper-introduction h2 {
  font-size: medium;
  text-shadow: 0 0 1rem #0c090f59, 0 0 1rem #1c172059;
}

/* Education */
.edu-title {
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: large;
  font-weight: 900;
  text-align: center;
}

.wrapper-education {
  width: 90%;
  border-radius: 2rem;
  margin: 0.6rem 1rem;
  padding: 0.4rem;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  padding: 0.6rem;
}

.wrapper-education h2 {
  padding-block: 0.6rem 0;
  font-weight: 900;
}

.wrapper-education p {
  padding-block: 0 0.2rem;
}

.wrapper-education a {
  text-decoration: none;
  font-size: medium;
  font-weight: 700;
}

/* Projects */
.projectsTitle {
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: large;
  text-align: center;
  font-weight: 900;
}

#project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 0 2rem;
}

#project-container div {
  margin-top: 1rem;
  width: 90%;
  border-radius: 2rem;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.wrapper-projects h2 {
  font-weight: 900;
}

.wrapper-projects p {
  padding-block: 0 0.4rem;
}

.wrapper-projects a {
  text-decoration: none;
  font-size: medium;
  font-weight: 700;
}

/* Footer section */
footer,
.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em auto;
}

.footer-nav {
  gap: 1em;
}

.footer-nav a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

small {
  font-size: small;
  display: flex;
  justify-content: center;
}

/* Media queries for tablets and desktops */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: flex-end;
  }

  header a {
    padding-inline: 0.5rem;
  }

  .wrapper-introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .wrapper-introduction img {
    width: 20rem;
    height: auto;
    object-fit: contain;
  }

  .introduction-title {
    height: auto;
    width: 10rem;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .edu-title,
  .projectsTitle {
    font-size: xx-large;
    text-align: center;
  }

  .wrapper-education,
  #project-container div {
    width: 95vw;
    height: auto;
  }

  .wrapper-education {
    display: flex;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 769px) {
  header {
    flex-direction: row;
    justify-content: flex-end;
  }

  header a {
    padding-inline: 0.5rem;
  }

  .wrapper-introduction {
    display: flex;
    flex-direction: row;
  }

  .wrapper-introduction img {
    width: 20rem;
    height: auto;
    margin-left: 30%;
  }

  .introduction-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
  }

  .introduction-title h1,
  .introduction-title h2 {
    font-size: xx-large;
  }

  .edu-title,
  .projectsTitle {
    font-size: x-large;
    text-align: center;
    margin-bottom: 1rem;
  }

  .wrapper-education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50rem;
    margin: auto;
  }
}
